<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <div><i class="fa-brands fa-square-facebook"></i></div>
            <div><i class="fa-brands fa-square-x-twitter"></i></i></div>
            <div><i class="fa-brands fa-square-instagram"></i></div>

        </div>
        <div class="f-info-brand">&copy; EliteStay Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>